.bottom-image img{
    vertical-align:bottom;
    }
.index{
    text-align: center;
    
}

.about-title-words{
    text-align: center;
    font-family: 'BhuTuka Expanded One', cursive;
    font-size: 500%;
}

.about-title{
    background-color: rgb(247, 186, 117);
}

.about-purpose{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

.coursehome-title{
    background-color: rgb(247, 245, 117);
}

.about-units-title{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
}

.about-units-expl{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.about-note{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.about-note-red{
    font-family: 'Montserrat', sans-serif;
    color: red;
    font-size: x-large;
    text-align: center;
}

.aboutme-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 300%;
    text-align: left;
}

.aboutme-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    text-align: left;
}

.site-title-words{
    text-align: center;
    font-family: 'BhuTuka Expanded One', cursive;
    font-size: 500%;
}

.site-title{
    background-color: rgb(252, 168, 162);
}

.font{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

.font-big{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 150%;
}

.nav{
    font-family: 'Montserrat', sans-serif;
}

.congrats{
    text-align: center;
    font-family: 'BhuTuka Expanded One', cursive;
    font-size: 150%;
    background-color: rgb(161, 255, 124);
}

.unit1-title{
    background-color: rgb(161, 255, 124);
}

.unit2-title{
    background-color: rgb(124, 218, 255);
}

.unit3-title{
    background-color: rgb(184, 165, 253);
}