{% extends 'base.html' %}

{% block body %}
<div class='index'>
    <div class="site-title">
        <br>
        <p class="site-title-words">Nutrition Education<br>for Kids!</p>
        <br>
    </div>
</div>
<br>
<div class="container-fluid">
    <img src="/static/28yun-superJumbo.jpg" class="rounded mx-auto d-block" width="1530px" id="title-pic" alt="Image Not Found.">
    <br>
</div>
<div class="container">
    <p class="aboutme-title">Purpose: Early Education</p>
    <br>
    <p class="aboutme-info">
    The purpose of Nutrition Education for Kids is to provide children and families with a free course that teaches them basics of nutrition. The current U.S. public school system fails to connect students with the food they eat and teach how different foods impacts physical health. Thus, we find it important to make nutrition education and resources available to all, especially young kids who are just starting to develop dietary habits.<br><br>
This course serves as a free educational resource to help students learn about the importance of eating well from a young age. It targets students from ages 6-12 and is meant to be completed remotely with the occasional help of an adult family member.
Each unit contains three components, an article, a video, and an optional but highly recommended interactive activity that will help connect the student to what they are learning. To start the course, click on the dropdown labelled “Course” and navigate to the “Unit 1”.
    <br>
    <br>
    </p>
    <p class="aboutme-title">Problem: The Poor Nutrition of United States Children</p>
    <br>
    <p class="aboutme-info">
        It is common for children in the United States to have unhealthy diets that increase their risk of developing medical conditions later in life. Furthermore, schools do not provide sufficient nutritional education, leaving children unaware of how harmful foods may affect their health.<br>
    </p>
    <br>
</div>
{% endblock %}