<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div class="unit1-title">
    <br>
    <p class="about-title-words">Lesson 1: Read</p>
    <br>
</div>
<br>
<div class="container-fluid">
  <div class="text-center">
    <img src="/static/micro-vs-macro.jpg" alt="Image Not Found." width="1000">
    
    <br><br>

    <p class="font-big">Macronutrient Examples:</p>
    <img src="/static/macronutrients.jpg" alt="Image Not Found." width="1000">
    <br>

    <p class="font-big">Micronutrient Examples:</p>

    <img src="/static/micronutrients.jpg" alt="Image Not Found." width="1000">
  </div>
</div>
<div>
    <div class="row justify-content-evenly">
        <div class="col">
          <div class="text-center">
            <a class="btn btn-primary" href="#" role="button">Lesson 1: Read</a>
          </div>
          </div>
        <div class="col">
          <div class="text-center">
            <a class="btn btn-primary" href="#" role="button">Lesson 2: Watch</a>
            </div>
        </div>
        <div class="col">
          <div class="text-center">
            <a class="btn btn-primary" href="{{ url_for('resourceNew') }}" role="button">Lesson 3: Do!</a>
            </div>
          </div>
        </div>
    </div>
{% endblock %}