<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}

<div class="unit1-title">
    <br>
    <p class="about-title-words">Shopping Activity: Identifying Macro and Micronutrients</p>
    <br>
</div>
<br>
<div class="container-fluid">
    <div class="row justify-content-evenly">
        <div class="col">
            <div class="font">
                <p class="about-note">Welcome to your final lesson of Unit 1! This fun and easy activity is optional, but you are encouraged to try it out with the help of an adult in your household.</p>
                <p class="font-big">Directions:</p>
                <ol>
                    <li>Go grocery shopping with a parent. Observe the different types of foods they purchase.</li>
                    <br>
                    <li>When you get back home, choose ten items that your parent bought, preferebly two meat/dairy products, two vegetables, two fruits, and four processed food products.</li>
                    <br>
                    <li>Grab a piece of paper and a writing utensil, then make a data table that has 5 columns. Complete the first row of the data table by writing the following data categories in order in each column: product name, fat (g), carbohydrates (g), protein (g), and vitamins/minerals. Then, draw a line under that row.</li>
                    <br>
                    <li>After that, get one of the ten items you chose and record its name, fat content, carbohydrate content, protein content, and the vitamins and minerals it possesses in the data table. All of this information can be found on the "Nutrition Facts" label. If a product does not have one of these labels, either choose a different product or look up its nutritional contents online. Once, you are done draw a line below that set of data.</li>
                    <br>
                    <li>Repeat step 4 with the rest of the ten products.</li>
                    <br>
                    <li>Once your data table is complete, present it to a family member and tell them which column(s) contain data about macronutrients and which column(s) contain data about micronutrients.</li>
                    <br>
                    </ol>
                   <br>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <img src="/static/grocerycart.jpg" class="img-about1" alt="Image Not Found." width="800">
            </div>
        </div>
        <div class="font-big">
            <a button type="button"  class="btn btn-dark btn-lg" href="{{ url_for('unit2') }}">Click here to start Unit 2!</a>
        </div>
    </div>
    <br>
    <br>
</div>
{% endblock %}
