<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div class="unit2-title">
    <br>
    <p class="about-title-words">Lesson 2: Watch</p>
    <br>
</div>
<br>

<div>
    <div class="row justify-content-evenly">
        <div class="col">
          <div class="text-center">
            <a class="btn btn-primary" href="#" role="button">Lesson 1: Read</a>
          </div>
          </div>
        <div class="col">
          <div class="text-center">
            <a class="btn btn-primary" href="#" role="button">Lesson 2: Watch</a>
            </div>
        </div>
        <div class="col">
          <div class="text-center">
            <a class="btn btn-primary" href="#" role="button">Lesson 3: Do!</a>
            </div>
          </div>
        </div>
    </div>
{% endblock %}