<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<div class="unit3-title">
    <br>
    <p class="about-title-words">Lesson 1: Read</p>
    <br>
</div>
<p>U3L1: hea;thy eating habits article, U3L2: video on tips to shop for healthy foods affrodibly, U3L3: information on government food assistance programs and food banks with links to donate/learn more</p>
<br>
  <div class="container">
    <br>
    <p class="font-big">Read and look over the resources below to better understand how to develop healthy eating habits. Then, once you are done, click the Lesson 2 button at the bottom of this page.</p>
  </div>
  <br>
  <div class="container-fluid">
    <div class="text-center">
      <iframe src="/static/eatinghabits.pdf" height="1500" width="1000"></iframe>
      <br>
      <br>
      <br>
      <img src="/static/myplate.jpg" alt="Image Not Found." width="1000">
      
      </div>
      </div>
  </div>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        
      </div>
      <div class="col">
        
      </div>
      <div class="col">
        
      </div>
      <div class="col">
        
      </div>
      <div class="col">
        
      </div>
      <div class="col">
        <a class="btn btn-success btn-lg" href="{{ url_for('U3L2') }}" role="button">Lesson 2: Watch</a>
      </div>
    </div>
    <br>
  </div>
{% endblock %}